.tariff
    &__content
        max-width: 705px
        margin: 0 auto
        padding: 0px 10px
    &__title
        font-family: "CorpidE1sCd", sans-serif
        font-size: 40px
    &__file
        padding: 50px 0px 100px
    &__link
        display: flex
        align-items: center
        &:before 
            content: ''
            background: url('../images/icons/pdf.svg') no-repeat center
            width: 40px
            height: 40px
            margin-right: 25px