@media (max-width: 900px)
    .brands
        &__content
            overflow-x: scroll
    .tabs-nav
        &__slider
            

    
@media (max-width: 768px)
    .brands
        position: absolute
        &__content
            width: 95%
            border-right: none
            overflow-x: scroll
    .bullits-list
        &__text
            font-size: 13px
        &__tooltip-text_1
            left: 38px
        &__tooltip-text_2
            left: 180px
    .experts
        &__block-left
            flex-direction: column
        &__data
            display: flex
            align-items: center
        &__img
            margin-right: 20px
        &__description
            width: 100%
        &__block-right
            flex-direction: column
    .goods
        &__title
            margin-bottom: 21px


@media (max-width: 640px)
    .bullits-list
        flex-direction: column
        &__item
            width: 100%
            display: flex
            flex-direction: row
            align-items: center
            justify-content: flex-start
            border: none
            border-bottom: 1px solid #e6e6e6
        &__img  
            // margin: 0 8% 0 0
            margin: 0
            width: 20%
        &__description
            display: flex
            justify-content: space-between
            width: 70%
        &__text
            // margin: 0 8% 0 0
            margin: 0
            text-align: left
        &__tooltip
            margin: 0
        &__tooltip-text_1
            left: 22px
        &__tooltip-text_2
            left: 138px
    .experts
        &__body
            flex-direction: column
        &__container_left
            width: 100%
            margin-bottom: 15px
        &__container_right
            width: 100%
    .tab
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 0 5% 0
    .content-tabs
        &__img
            width: 100%
            margin-bottom: 20px
        &__icon
            position: relative
            top: 0
        &__text
            width: 100%
    .tabs-nav
        &__btn
            display: none

@media (max-width: 450px)
    .banner
        &__address
            font-size: 13px
            margin-bottom: 30px
        &__title
            font-size: 25px
            line-height: 25px
            margin-bottom: 20px
        &__subtitle
            font-size: 15px
            line-height: 17px
    .brands
        bottom: 25px
        &__content
            padding: 25px 0
        &__item
            min-width: 122px
    .bullits-list
        &__description
            width: 80%
        &__text
            width: 71%
    .experts
        &__title
            font-size: 18px
            line-height: 18px
        &__name
            width: 30%
            font-size: 15px
            line-height: 17px
        &__description
            font-size: 13px
            line-height: 15px
    .tech
        &__body
            background: url('../images/icons/tech/pattern_dark.jpg') no-repeat
            background-size: cover
    .goods
        &__title
            font-size: 18px
            line-height: 18px
    .tech
        &__title
            font-size: 18px
            line-height: 18px
    .content-tabs
        background: none
        &__title
            font-size: 15px
            line-height: 17px
        &__subtitle
            font-size: 15px
            line-height: 17px
    .tabs-nav
        margin-bottom: 25px
        
            


@media (max-width: 320px)
    .banner
        &__body
            height: 585px
            background: url('../images/icons/banner/banner_bg_small.jpg') center  no-repeat
            background-size: cover
    .brands
        &__item
            min-width: 112px
    .bullits-list
        &__tooltip-text 
            &::before
                left: 170px
        &__tooltip-text_1
            top: 110px
            left: 99px
        &__tooltip-text_2
            top: 250px
            left: 99px

    
